{% extends "base.html" %} {% block content %} {% load static %}

<section class="content">
    <div class="logodiv">
        <img src= "{% static 'img/social-media-twitter-logo-blue-isolated-free-vector.jpeg' %}" alt="" class="twitterlog">
        <h1>Edit</h1>
    </div>
    <section class="post_form">
        <form action="/edit/{{post.id}}/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="name" value="{{ post.name }}" required />
            <input type="text" name="body" value="{{ post.body }}">
            <input type="file" name="image">
           {% if post.image.url %}
           <img src="{{ post.image.url }}" class="post-image" alt="" width="100%">
           {% endif %}
          
            <div class="butns">
                <!-- <a href="/"  type="submit"><button>Cancel</button></a>
                  <input type="submit" name="" id="" value="cancel" />  -->
                 <!-- <a href="{% url 'index' %}" type="submit"><button>Update</button></a> -->

                 <input class="upload-file" type="file" value="Choose File" name="image">
                 <button class="cancel"><a href="/" type="submit">Cancel</a></button>
                 <button class="update" type="submit">Update</button>

            </div>
            
        </form>
    </section>

</section>


{% endblock %}